@{
    ViewData["Title"] = "Reset password confirmation";
}

<h2>@ViewData["Title"]</h2>
<p class="text-center">
    Your password has been reset. Please <a asp-action="Login" class="btn-link">click here to log in</a>.
</p>
