@{ 
    Layout = "/Views/Shared/_Layout.cshtml";
}


<div>
    @if (ViewBag.readOnlyView == true)
    {
        <h4>View Account settings</h4>
    }
    else
    {
        <h4>Change Account settings</h4>
    }

    <hr />
    <div class="w3-container col-lg-12 col-md-12">
        <div class="col-md-3 col-lg-3">
            @await Html.PartialAsync("_ManageNav")
        </div>
        <div class="col-md-9 col-lg-9 ">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
        
