
@{
    ViewData["Title"] = "Initiate Payment";
}



<script src="~/js/azure-storage.blob.js" type="text/javascript"></script>
@*<script src="~/js/app.js"></script>*@
<script src="~/js/site.js"></script>
<script src="~/js/Spin.js"></script>
<link href="~/css/site.css" rel="stylesheet" />
<div class="col-lg-12">
    <div class="col-lg-1">
    </div>
    <div class="col-lg-10" id="bodyIdAttachment" name="bodyIdAttachment">
        <form asp-area="" asp-controller="Home" asp-action="InitatePayments" method="get">
            <div id="spinnerattachment">
            </div>
            <input type="hidden" name="UserId" id="UserId" value="@ViewBag.UserId" />
            <input type="hidden" name="FileName" id="FileName" />

            <input type="hidden" id="sasToken" value="@ViewBag.sasToken" name="sasToken" />

            <label>Upload File</label>
            <br>
            <input onchange="ReceiverFileSelected1('File1','scannedIdbtn')" id="File1" type="file" class="" />
            <input type="hidden" id="FileOrg" name="FileOrg" class="" />
            <br>
            <input type="button" id="scannedIdbtn" disabled class="btn btn-primary" onclick="App.uploadAttachment('File1','FileOrg', null,'payments');" value="Upload " />
            <br>

            <br>
            <label>Comments:</label>
            <br>

            <textarea type="text" class="form-control" style="height:100px" required name="Comments" value="">  </textarea>
            <br>

            <button type="submit" id="submitbtn"  disabled class="btn btn-success">Make Payment</button>
            <br>

        </form>


    </div>

</div>




<script>
    function ReceiverFileSelected1(fileInputId, buttonId) {
        if ($("#" + fileInputId).val != "") {
            document.getElementById(buttonId).disabled = false;
        }
    }







</script>

